reports/
dpc++-dups
*.sim
*.fpga
*.prj
nodes.txt
*.txt
*.err
*.so*
*.s
*.o
*.a
*.exe
*.[io]*
*.zip
*.cmi
*.cmo
*.cmx
spmv
spmv-byte
runs/
stats
reformat
spmv-auto-volta
spmv-auto-ampere
spmv-auto-mi100
reformat-auto
.flake8
.markdownlint.yaml
.shellcheckrc
.trunk
